<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="display-6 mb-4 ml-4">
        <i class="bi-camera-reels"></i> &nbsp; Happening Now
      </h2>
    </div>
  </div>

  <div class="row">
    <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
    <!-- <owl-carousel [options]="sliderOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="items">
        <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
      </div>
    
      <div class="items">
        <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
      </div>
    
      <div class="items">
        <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
      </div>
    </owl-carousel> -->
    <!-- <div class="owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
          <div class="owl-stage">
              <div class="owl-item"></div>
              <div class="owl-item"></div>
              <div class="owl-item"></div>
          </div>
      </div>
      <div class="owl-nav">
          <div class="owl-prev">prev</div>
          <div class="owl-next">next</div>
      </div>
      <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
      </div>
  </div> -->


     <!-- <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
    </div> -->
    <!--
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
    </div>
     <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
    </div> -->
    <!--
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-2">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <span class="title">4 secs ago - Accra Spintex</span>
            <br>
            <span class="bold">Emy's Techpreneur SDG Conference</span>
            <br>
            <span class="lead">290 Participants</span>
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="container">
      <div class="d-flex flex-row justify-content-end p-1">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary">
            <i class="bi-arrow-left"></i>
          </button>
          <button type="button" class="btn btn-outline-primary">
            <i class="bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div> -->
</div>
</div>
