/* Slider */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #0d6efd !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 45px;
  height: 4px;
  background: #f8f8f8;
  border-radius: 55px;
}

.display-5 {
  color: #3F4155;;
}

.card-img-top {
  width: 100%;
  height: 250px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

span.title {
  font-size: 12px;
}

span.bold {
  font-weight: bold;
  font-size: 13px;
  line-height: 10px;
}

span.lead {
  font-size: 10px;
}

p.card-text {
  line-height: 20px;
}

.display-6 {
  font-size: 1.2rem;
  font-weight: 500;
}

.card {
  border-radius: 12px;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  padding-left: 25px;
}

.btn-group>:not(.btn-check)+.btn {
  padding-right: 25px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .col-sm-12 .col-md-6 .col-lg-4 .card {
    display: inline-block;
  }
}

// .carousel-item {
//   // width: 130px !important;
//   backface-visibility: visible !important;
//   display: block !important;
//   margin-right: 0px !important;
//   float: right !important;
// }
// .owl-item {
//   width: 260px !important;
// }

// .item {
//   width: inherit !important;
// }

