:root {
    .dark-theme {
        --primary-color: #fff;
        --ev-background: #1e1e2e;
        --ev-sub-item-background: #516474;
        --ev-item-background: #414553;
        --ev-active: #0d79f8;
        --ev-menu-item: #a4a4a4;


    }

    
}
