<div class="sponsors-div gradient" style="background-image: url('../../../../assets/images/sponsor_bg.jpg')">
    <div class="container">
        <div class="row">
           <div class="col-lg-12">
              <h2 class="section-title white">
                 <span>Who helps us</span>
                 Our Sponsors
              </h2>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <div class="sponsors-logo text-center" style="display: block;">
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  <a href=""><img src="../../../../assets/images/git-logo.png" alt=""></a>
                  
                  <div class="sponsor-btn text-center">
                    <a href="index.html#" class="btn">Become a Sponsor</a>
                 </div>
            </div>
        </div>
    </div>
</div>
