<div class="help-banner">
    <p style="display: block;font-size: 40px;font-weight: 700;color: #fff;text-align: center;min-height: 50vh;margin-top: 5vh;">
       <br> How can we help you
        <form class="form" class="search-form">
      <div class="form-group has-search" style="margin-top: -10vh !important;">
        <span class="bi bi-search form-control-feedback"></span>
        <input class="form-control mr-sm-2 ev-nav-searchbar-input" type="search" placeholder="What do you want to attend?" aria-label="Search">
      </div>
     </form>
    
</div>
    

