<div class="container-fluid">
  <div class="row">

    <div class="col-4">
      <div class="page-info">
        <div class="title">
          <h1>Let's start you off easy!</h1>
          <h5>Steps 1 <span class="of">of</span> 5</h5>
        </div>

        <div class="image">
          <i class="bi-journal-text" style="font-size: 10em;"></i>
        </div>

        <div class="description">
          <h4>Lorem ipsum dolor sit amet consectetur adipisici iores.</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ad corrupti quos numquam asperiores delectus, labore officiis, dolores maiores qui fugit reiciendis harum vitae nihil repellat praesentium veritatis ipsam. Mollitia?</p>
        </div>

        <div class="navigation">
          <div class="nav-buttons">
            <p>hfhfhfhfhf</p>
            <button type="button" class="btn btn-outline-primary mr-3">Previous</button>
            <button type="button" class="btn btn-outline-primary">Next</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1"></div>

    <div class="col-5">
      <div class="form">
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Basic Info</h2>
            </div>
            <div class="form-description">
              <p>Name your event and tell event-goers why they should come. Add details that highlight what makes it unique.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- title -->
            <div class="form-group">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp">
                <label for="floatingTitle">Event Title</label>
                <small id="titleHelp" class="form-text text-muted">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </small>
              </div>
            </div>
            <!-- /.title -->

            <!-- description -->
            <div class="form-group">
              <div class="form-floating">
                <textarea class="form-control" id="floatingDesc" style="height: 100px" aria-describedby="descHelp"></textarea>
                <label for="floatingDesc">Eevent Description</label>
                <small id="descHelp" class="form-text text-muted">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </small>
              </div>
            </div>
            <!-- /.description-->

            <!-- event type and categories -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Select event type</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Event Type</label>
                  </div>
                  <small id="descHelp" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                  </small>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Select category</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Event Category</label>
                  </div>
                  <small id="descHelp" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                  </small>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Select a sub-category</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Event sub-category</label>
                  </div>
                  <small id="descHelp" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                  </small>
                </div>
              </div>
            </div>
            <!-- /.end -->

            <!-- tags -->
            <div class="form-group">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Add keywords to help people easily find your event">
                <label for="floatingTitle">Tags</label>
                <small id="titleHelp" class="form-text text-muted">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </small>
              </div>
            </div>
            <!-- /.tags -->

            <!-- selected tags -->
            <!-- /.selected tags -->
          </div>
        </div>

        <!--
          Date Time Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Date and time</h2>
            </div>
            <div class="form-description">
              <p>Tell event-goers when your event starts and ends so they can make plans to attend.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- start & end date -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Add keywords to help people easily find your event">
                      <label for="floatingTitle">Start Date</label>
                      <small id="titleHelp" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-floating">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Add keywords to help people easily find your event">
                      <label for="floatingTitle">End Date</label>
                      <small id="titleHelp" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.end -->

            <!-- start & end time -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Add keywords to help people easily find your event">
                      <label for="floatingTitle">Start Time</label>
                      <small id="titleHelp" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-floating">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Add keywords to help people easily find your event">
                      <label for="floatingTitle">End Time</label>
                      <small id="titleHelp" class="form-text text-muted">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.end -->
          </div>
        </div>
        <!--
          /. End Date time Section
        -->

        <!--
          Location Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Venue</h2>
            </div>
            <div class="form-description">
              <p>Help people in the area discover your event and let attendees know where to show up.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- start & end date -->
            <div class="form-group">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                    Location
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                    Online Event
                  </a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">.fffffrr444444..</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..fgffgggf.</div>
              </div>
            </div>
            <!-- /.end -->
          </div>
        </div>
        <!--
          /. End Location Section
        -->
      </div>
    </div>

    <div class="col-2"></div>

  </div>
</div>
