<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="offset-lg-3 col-lg-6 mx-auto">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6 .d-none .d-sm-block stuffs-side">

              <div class="row align-items-center h-100">
                <div class="col-lg-12 mx-auto">
                  <div class="row text-center">
                    <div class="col-md-6 my-3"><i class="fa fa-cat"></i></div>
                    <div class="col-md-6 my-3"><i class="fa fa-dragon"></i></div>
                    <div class="col-md-6 my-3"><i class="fa fa-frog"></i></div>
                    <div class="col-md-6 my-3"><i class="fa fa-hippo"></i></div>
                  </div>
                </div>
              </div>

            </div>

            <!-- ---------------------------------------------------------------------------- -->

            <div class="col-lg-6 form-side">

              <div class="row mb-2 text-center">
                <div class="col-lg-12">
                  <img src="../../assets/logo1.png" width="40" height="40">
                </div>
              </div>

              <!-- signup form -->
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="row mb-3 text-center">
                  <div class="col-md-12">
                    <h4>Register</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="text-center"><small class="text-danger">{{errorMsg}}</small></p>
                  </div>
                </div>
                
                <mat-horizontal-stepper class="register-stepper">

                  <!-- -------------------------------------------------------------------------------------------------- -->

                  <mat-step>

                    <div class="row">
                      <div class="col">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingFname" placeholder="Fname" formControlName="firstname" required>
                          <label for="floatingFname">First Name</label>
                        </div>
                        <!-- <mat-form-field appearance="outline" class="form-full-width">
                          <mat-label>First Name</mat-label>
                          <input matInput formControlName="firstname" required>
                        </mat-form-field> -->
                      </div>
                      <div class="col">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingLname" placeholder="Lname" formControlName="lastname" required>
                          <label for="floatingLname">Last Name</label>
                        </div>
                        <!-- <mat-form-field appearance="outline" class="form-full-width">
                          <mat-label>Last Name</mat-label>
                          <input matInput formControlName="lastname" required>
                        </mat-form-field> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-floating mb-3">
                          <select class="form-select" id="floatingSelect" aria-label="Floating" formControlName="usertype" required>
                            <option value="admin" selected>Admin</option>
                            <option value="g)b3">G)b3 seller</option>
                          </select>
                          <label for="floatingSelect">User Type</label>
                        </div>
                        <!-- <mat-form-field appearance="outline" class="form-full-width">
                          <mat-label>User Type</mat-label>
                          <mat-select formControlName="usertype" required>
                            <mat-option value="admin">Admin</mat-option>
                            <mat-option value="g)b3">G)b3 seller</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-floating mb-3">
                          <select class="form-select" id="floatingSelect1" formControlName="country" required>
                            <option selected value="GH">Ghana</option>
                            <option value="CM">Cambodia</option>
                            <option value="UG">Uganda</option>
                          </select>
                          <label for="floatingSelect1">Country</label>
                        </div>
                        <!-- <mat-form-field appearance="outline" class="form-full-width">
                          <mat-label>Country</mat-label>
                          <mat-select formControlName="country" required>
                            <mat-option value="GH">Ghana</mat-option>
                            <mat-option value="CM">Cambodia</mat-option>
                            <mat-option vlaue="UG">Uganda</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-floating mb-3">
                          <input type="tel" class="form-control" id="floatingInput" placeholder="Phone Number" formControlName="phone" required>
                          <label for="floatingInput">Phone Number</label>
                        </div>
                        <!-- <mat-form-field appearance="outline" class="form-full-width">
                          <mat-label>Phone Number</mat-label>
                          <input matInput type="tel" formControlName="phone" required>
                        </mat-form-field> -->
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="ml-auto col-lg-4">
                        <button type="button" matStepperNext mat-raised-button
                          class="form-full-width git-color">Next</button>
                      </div>
                    </div>

                  </mat-step>

                  <!-- ------------------------------------------------------------------------------------------------------------- -->

                  <mat-step>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="floatingFname" placeholder="Fname" formControlName="username" required>
                          <label for="floatingFname">Username</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="floatingFname" placeholder="Fname" formControlName="email" required>
                          <label for="floatingFname">Email</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" id="floatingFname" placeholder="Fname" formControlName="password" required>
                          <label for="floatingFname">Password</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" id="floatingFname" placeholder="Fname" formControlName="password_confirmation" required>
                          <label for="floatingFname">Confirm</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="mr-auto col-lg-4 mb-1">
                        <button type="button" matStepperPrevious mat-raised-button class="form-full-width">Back</button>
                      </div>
                      <div class="ml-auto col-lg-5 mb-1">
                        <button type="submit" mat-raised-button class="form-full-width git-color">Register</button>
                      </div>
                    </div>

                  </mat-step>

                  <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

                </mat-horizontal-stepper>

                <div class="row mt-2 mb-5">
                  <div class="col-lg-12">
                    <p class="text-center">
                      <small><a routerLink="/login" class="form-link">Already registered? Log in</a></small>
                    </p>
                  </div>
                </div>

              </form>
              <!-- /.signup form -->

              <div class="row w-100 form-footer px-3">
                <div class="col-lg-12 align-self-end">
                  <hr>
                  <small class="ml-4 float-right"><a href="">Help</a></small>
                  <small class="ml-4 float-right"><a href="">Terms</a></small>
                  <small class="ml-4 float-right"><a href="">Privacy</a></small>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>