<div class="mt-5 pt-5 bg-white">
  <owl-carousel [options]="sliderOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5 ev-padl-0">
            <div class="bg-white p-5 rounded-lg p-3">
              <h1 class="display-5">Events369</h1>
              <p class="lead">
                Biggest Event Platform
              </p>
              <hr class="my-4">
              <p>For organizing events.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12 ev-padl-0">
            <img class="rounded mx-auto d-block image mr-3 img-fluid" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99891082%2F174963144412%2F1%2Foriginal.20200430-164830?w=1016&auto=format%2Ccompress&q=75&sharp=10&s=be5cc9aa4646e8daeb55c374bc923a05" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div class="items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5 ev-padl-0">
            <div class="bg-white p-5 rounded-lg m-3">
              <h1 class="display-5">Online events.</h1>
              <p class="lead">
                Human Connections.
              </p>
              <hr class="my-4">
              <p>Made for you</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12 ev-padl-0">
            <img class="rounded mx-auto d-block image" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99891082%2F174963144412%2F1%2Foriginal.20200430-164830?w=1016&auto=format%2Ccompress&q=75&sharp=10&s=be5cc9aa4646e8daeb55c374bc923a05" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div class="items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5 ev-padl-0">
            <div class="bg-white p-5 rounded-lg m-3">
              <h1 class="display-5">More stuffs</h1>
              <p class="lead">
                Plan with us
              </p>
              <hr class="my-4">
              <p>Something goes here.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12 ev-padl-0">
            <img class="rounded mx-auto d-block image" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99891082%2F174963144412%2F1%2Foriginal.20200430-164830?w=1016&auto=format%2Ccompress&q=75&sharp=10&s=be5cc9aa4646e8daeb55c374bc923a05" alt="">
          </div>
        </div>
      </div>
    </div>
  </owl-carousel>
</div>