<div id="carouselExampleControls" class="carousel slide mt-5 pt-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="bg-light p-5 rounded-lg p-3">
              <h1 class="display-5">Events369</h1>
              <p class="lead">
                Biggest Event Platform
              </p>
              <hr class="my-4">
              <p>For organizing events.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-7">
            <img class="rounded mx-auto d-block image" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fmarketing%20space%2Fbanner--202102-birthday.webp?alt=media&token=3c1bc412-f6e5-45fa-8aeb-216c7c480365" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="bg-light p-5 rounded-lg m-3">
              <h1 class="display-5">Online events.</h1>
              <p class="lead">
                Human Connections.
              </p>
              <hr class="my-4">
              <p>Made for you</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-7">
            <img class="rounded mx-auto d-block image" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fmarketing%20space%2Fbanner--202102-outdoor.webp?alt=media&token=ac266e1b-d20c-4608-a0f5-bb24d7fbbba5" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="bg-light p-5 rounded-lg m-3">
              <h1 class="display-5">More stuffs</h1>
              <p class="lead">
                Plan with us
              </p>
              <hr class="my-4">
              <p>Something goes here.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-7">
            <img class="rounded mx-auto d-block image" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fmarketing%20space%2Fbanner--202102-music.webp?alt=media&token=101c7ce4-4ef4-4076-818a-87064447549a" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
