<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="offset-lg-3 col-lg-6 mx-auto">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6 .d-none .d-sm-block stuffs-side">
              <div class="row align-items-center h-100">
                <div class="col-lg-12 mx-auto">
                  <div class="row text-center">
                    <div class="col-md-6 my-3"><i class="fa fa-cat"></i></div>
                    <div class="col-md-6 my-3"><i class="fa fa-dragon"></i></div>
                    <div class="col-md-6 my-3"><i class="fa fa-frog"></i></div>
                    <div class="col-md-6 my-3"><i class="fa fa-hippo"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 form-side">
              <div class="row mb-2 text-center">
                <div class="col-lg-12">
                  <img src="../../assets/logo1.png" width="40" height="40">
                </div>
              </div>

              <!-- lofin form -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3 text-center">
                  <div class="col-md-12">
                    <h4>Log in</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="text-center"><small class="text-danger">{{errorMsg}}</small></p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="username" required>
                      <label for="floatingInput">Email Address / Username</label>
                    </div>
                    <!-- <mat-form-field appearance="outline" class="form-full-width">
                      <mat-label>Username</mat-label>
                      <input matInput type="text" formControlName="username" required>
                    </mat-form-field> -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="floatingInput" placeholder="password" formControlName="password" required>
                      <label for="floatingInput">Password</label>
                    </div>
                    <!-- <mat-form-field appearance="outline" class="form-full-width">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" >
                    </mat-form-field> -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <span class="float-left">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
                      </div>
                      <!-- <a class="form-link"><small>
                          <mat-checkbox>Remember me</mat-checkbox>
                        </small></a> -->
                    </span>
                    <span class="float-right">
                      <a routerLink="/recovery" class="form-link"><small>Forgot my password</small></a>
                    </span>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="ml-auto col-lg-5">
                    <button mat-raised-button class="form-full-width git-color">Log in</button>
                  </div>
                </div>

                <div class="row mt-2 mb-5">
                  <div class="col-lg-12">
                    <p class="text-center">
                      <small><a routerLink="/register" class="form-link">Don't have an account? Register</a></small>
                    </p>
                  </div>
                </div>

              </form>
              <!-- /.login form -->

              <div class="row w-100 form-footer px-3">
                <div class="col-lg-12 align-self-end">
                  <hr>
                  <small class="ml-4 float-right"><a href="">Help</a></small>
                  <small class="ml-4 float-right"><a href="">Terms</a></small>
                  <small class="ml-4 float-right"><a href="">Privacy</a></small>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>