<div class="sidenav">
  <a href="#">Basic Info</a>
  <a href="#">Package</a>
  <a href="#">Payments</a>
  <a href="#">Charges & Credits</a>
  <a href="#">Notifications</a>

  <div class="bottom">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Account Settings</a>
    </div>

    <div class="custom-control custom-switch ml-4 mt-3">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Dark Mode</label>
    </div>
  </div>
</div>