span.title {
  font-size: 12px;
}

span.bold {
  font-weight: 500;
  font-size: 13px;
  line-height: 10px;
}

span.lead {
  font-size: 10px;
}

p.card-text {
  line-height: 20px;
}

h5.card-title {
  font-size: 1rem;
}

.display-6 {
  font-size: 2rem;
}

.card {
  border-radius: 9px;
}