<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-foryou-tab" data-toggle="pill" href="#pills-foryou" role="tab" aria-controls="pills-profile" aria-selected="false">Your Favorites</a>
        </li>
        <li *ngFor="let x of categories" class="nav-item" role="presentation">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" [href]="formatTabPaneId(x.temp_name)" role="tab" aria-controls="pills-profile" aria-selected="false">{{x.temp_name}}</a>
        </li>
      </ul>
      <div class="tab-content pt-3" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <!-- All Events -->
          <div class="row mb-4">
            <div class="col-12 ev-padlr-0">
              
              <h3 class="display-6 ev-head-padl ev-display-only-non-mobile">
                <i class="bi bi-card-list"></i> &nbsp; All Events
                
                <!--Controls-->
                <div style="float: right;" class="controls-top">
                  <div class="happening_now_show_more">                   
                      <span class="happening_now_span_1"></span>
                      <div aria-hidden="false" class="happening_now_slider">
                          <div class="happening_now_slider_core">
                              <button aria-label="Previous"  type="button" class="happening_now_slider_button" (click)="allSliderPrev()">
                                  <span class="happening_now_slider_button_core">
                                      <span class="happening_now_slider_button_core_inner">_</span>
                                      <svg
                                          viewBox="0 0 32 32"
                                          xmlns="http://www.w3.org/2000/svg"
                                          style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4px; overflow: visible;"
                                          aria-hidden="true"
                                          role="presentation"
                                          focusable="false"
                                      >
                                          <g fill="none"><path d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"></path></g>
                                      </svg>
                                  </span>
                              </button>
                              <span class="happening_now_slider_empty_span"></span>
                              <button aria-label="Next"  type="button" class="happening_now_slider_button" (click)="allSliderNext()">
                                  <span class="happening_now_slider_button_core">
                                      <span class="happening_now_slider_button_core_inner">_</span>
                                      <svg
                                          viewBox="0 0 32 32"
                                          xmlns="http://www.w3.org/2000/svg"
                                          style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4px; overflow: visible;"
                                          aria-hidden="true"
                                          role="presentation"
                                          focusable="false"
                                      >
                                          <g fill="none"><path d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"></path></g>
                                      </svg>
                                      <!-- <i class="bi bi-chevron-right"></i> -->
                                  </span>
                              </button>
                          </div>
                      </div>
                  </div>
                </div>
                <!--/.Controls-->
              </h3>
            </div>
          </div>         
          
          <!-- <div class="all-slider" *ngIf="allEvents"> -->
          <owl-carousel #allSlider [options]="sliderOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']" *ngIf="allEvents">
            <div *ngFor="let event of allEvents">              
              <div class="card mb-5 event-card" (click)="gotoPreview(event.id)">
                <img src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold card-title">{{event.title}}</span>
                    <span class="lead text-muted">By: {{event.created_by}}</span><br>
                    <span class="lead">{{event.start_date_time | date:'long'}}</span>
                  </p>
                </div>
              </div>
            </div>             
          </owl-carousel>
          <!-- </div> -->
            
          <!-- Popular Events -->
          <div class="row mb-4 ev-martop-5 ev-padlr-0">
            <div class="col-12  ev-padlr-0">
              <h3 class="display-6 ev-head-padl">
                <i class="bi-graph-up"></i> &nbsp; Popular
                
                  <!--Controls-->
                <!-- <div style="float: right;" class="controls-top">
                  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
                </div> -->
                <!--/.Controls-->
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="d-flex flex-row justify-content-end p-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-primary">
                    <i class="bi-arrow-left"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary">
                    <i class="bi-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.Popular end -->

          <!-- New Events -->
          <div class="row mb-4 ev-martop-5 ev-padlr-0">
            <div class="col-12  ev-padlr-0">
              <h3 class="display-6 ev-head-padl">
                <i class="bi-megaphone"></i> &nbsp; New
                
                  <!--Controls-->
                <!-- <div style="float: right;" class="controls-top">
                  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
                </div> -->
                <!--/.Controls-->
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-2">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/11/event-speaker-template-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">Emy's Techpreneur SDG Conference</span>
                    <br>
                    <span class="lead">Mon, Apr 19, 2021 3:00PM (GMT)</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
            
          <div class="row">
            <div class="col-12">
              <div class="d-flex flex-row justify-content-end p-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-primary">
                    <i class="bi-arrow-left"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary">
                    <i class="bi-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.New events end -->
        </div>

        <div class="tab-pane fade" id="pills-foryou" role="tabpanel" aria-labelledby="pills-profile-tab">
          
          <!-- Your favorites tab  -->
          <div class="row" *ngIf="userFavorites">
            <div class="col-sm-12 col-md-3 col-lg-3" *ngFor="let favorites of userFavorites">
              <div class="card mb-2">
                <img src="http://events369.logitall.biz/storage/banner/{{favorites.banner_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">{{favorites.title}}</span>
                    <br>
                    <span class="lead">{{getEventStartDateFormatted(favorites.start_date_time)}}</span>
                  </p>
                </div>
              </div>
            </div>
            </div>

            <div class="row" *ngIf="!userFavorites || userFavorites.length == 0">
              <div style="height: 50%;width: 100%;padding-bottom: 10%;">
                <p style="display: block;text-align: center;margin-left: 10%;margin-right: 10%;padding-top: 1%;">
                  <i class="bi bi-people-fill" mode="ios" style="color: #a1949c;font-size: 60px;"></i>
                  <span style="display: block;font-weight: 400;color: rgb(41, 39, 39);font-size: 20px;">Follow your favorite organizers</span>
                  <p style="font-size: 14px;text-align: center;color: #888484;margin-left: 10%;margin-right: 10%;">
                    See their latest events here

                </p>
              </div>

            </div>
            
            
            <div class="d-flex justify-content-center" style="margin-top: -15vh;">
              <a href="/login" *ngIf="userID == null" class="btn btn-dark btn-lg">Login</a>
            </div>

        </div>
        
        <div *ngFor="let x of categories; index as i" class="tab-pane fade" [id]="toCamelCase(x.temp_name)" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="row">
            <div *ngFor="let event of categoryEvents[i]" class="col-sm-12 col-md-3 col-lg-3">
              <div class="card mb-5">
                <img src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    <span class="bold">{{event.title}}</span>
                    <br>
                    <span class="lead">{{event.start_date_time | date:'long'}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
